
<style>
    
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
        }

        @media screen and (max-width: 768px) {
            .logout {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #ddd;
            }

            input[type="checkbox"]:checked+.menu-items {
                display: block;
            }

            input[type="checkbox"]:not(:checked)+.logout {
                display: none;
            }

            .navbar-container {
                flex-direction: column;
                align-items: center;
            }

            .logo {
                margin-top: 1rem;
            }

            .menu-items {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 0;
                background-color: #fff;
                z-index: 1;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

            .menu-items li {
                width: 100%;
                text-align: center;
            }

            .menu-items li a {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #ddd;
            }

            .hamburger-lines {
                display: block;
                position: relative;
                width: 2rem;
                height: 1rem;
                cursor: pointer;
            }

            .line {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: #333;
                transition: transform 0.3s ease-out;
            }

            .line1 {
                transform: translateY(-0.5rem);
            }

            .line2 {
                transform: translateY(0);
            }

            .line3 {
                transform: translateY(0.5rem);
            }

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked+.menu-items {
                display: block;
            }
        }
    </style>
<nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/category">Categories</a></li>
                <li><a href="/admin/product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/coupon">Coupons</a></li>
                <li><a href="/admin/order">Orders</a></li>
                <li><a href="/admin/salesReport">Sales Report</a></li>
                <li><a href="/admin/logout">Logout</a></li>
                <li><a href=""></a></li>
            </ul>
            <h1 class="logo">Perfumio</h1>
        </div>
    </nav>



<div class="container mt-5" style="padding-top: 50px; background-color: rgb(255, 255, 255);margin-left: 2rem;margin-right: 2rem;">
    <div class="mt-5">
        <a href="/admin/addCoupon" class="btn btn-outline-primary mb-3 mt-3">Add New Coupon</a>
    </div>
    <div style="overflow: scroll;">
    <table class="table table-hover" id="myTable">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Coupon Name</th>
                <th scope="col">code</th>
                <th scope="col">Date</th>
                <th scope="col">Minimum Amount</th>
                <th scope="col">Discount</th>
                <th scope="col">Discount %</th>
                <th scope="col">Stock</th>
                <th scope="col">Edit</th>
                <th scope="col">Status</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            {{#each coupons}}
            <tr>
                <th scope="row">{{inc @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.code}}</td>
                <td>{{this.expiry}}</td>
                <td>{{this.minAmount}}</td>
                <td>{{this.discount}}</td>
                <td>{{this.discountperct}}</td>
                <td>{{this.stock}}</td>
                <td><a href="/admin/editCoupon/{{this._id}}" class="btn btn-outline-primary">Edit</a>
                </td>
                <td>
                    {{#if this.block}}
                    <p>Blocked</p>
                    {{else}}
                    <p>Active</p>
                    {{/if}}
                </td>
                <td>
                    <div class="dropdown-container" tabindex="-1">
                        <div class="three-dots"></div>
                        <div class="dropdown">
                            {{#if this.block}}
                            <button onclick="if(confirm('Are you sure to unlist coupon?')){window.location.href='/admin/unblockCoupon/{{this._id}}' }"
                                class="btn btn-outline-success btn-block mb-4">List</button>
                            {{else}}
                            <button onclick="if(confirm('Are you sure to unlist coupon?')){window.location.href='/admin/blockCoupon/{{this._id}}' }"
                                class="btn btn-outline-danger btn-block mb-4">Unlist</button>
                            {{/if}}
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    <script>
        // Add event listeners to the three-dots elements
        const dropdownContainers = document.querySelectorAll('.dropdown-container');
        dropdownContainers.forEach(container => {
            const dots = container.querySelector('.three-dots');
            const dropdown = container.querySelector('.dropdown');
            dots.addEventListener('click', () => {
                dropdown.classList.toggle('show');
            });
        });
              