<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
        }

        @media screen and (max-width: 768px) {
            .logout {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #ddd;
            }

            input[type="checkbox"]:checked+.menu-items {
                display: block;
            }

            input[type="checkbox"]:not(:checked)+.logout {
                display: none;
            }

            .navbar-container {
                flex-direction: column;
                align-items: center;
            }

            .logo {
                margin-top: 1rem;
            }

            .menu-items {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 0;
                background-color: #fff;
                z-index: 1;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

            .menu-items li {
                width: 100%;
                text-align: center;
            }

            .menu-items li a {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #ddd;
            }

            .hamburger-lines {
                display: block;
                position: relative;
                width: 2rem;
                height: 1rem;
                cursor: pointer;
            }

            .line {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: #333;
                transition: transform 0.3s ease-out;
            }

            .line1 {
                transform: translateY(-0.5rem);
            }

            .line2 {
                transform: translateY(0);
            }

            .line3 {
                transform: translateY(0.5rem);
            }

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked+.menu-items {
                display: block;
            }
        }
    </style>
</head>

<body>
  <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
              <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/category">Categories</a></li>
                <li><a href="/admin/product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/coupon">Coupons</a></li>
                <li><a href="/admin/order">Orders</a></li>
                <li><a href="/admin/salesReport">Sales Report</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
            <h1 class="logo">Perfumio</h1>
        </div>
    </nav>

  <section class="my-section" style="padding-top: 150px;">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        {{!-- <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search category" aria-label="Search">
            <button class="btn btn-outline-primary" type="button">Search</button>
          </div>
        </form> --}}
      </div>

      <div class="col-md-6 text-end">
        <a href="/admin/addcategory" class="btn btn-outline-primary mt-3">Add</a>
      </div>

      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Category</th>
                <th scope="col">Edit category</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each categories}}
              <tr>
                <td>{{inc @index}}</td>
                <td>{{this.category}}</td>
                <td>
                  <a href="/admin/editcategory/{{this._id}}" class="btn btn-outline-primary">Edit</a>
                </td>
                <td>
                  {{#if this.block}}
                  <p>Blocked</p>
                  {{else}}
                  <p>Active</p>
                  {{/if}}
                </td>
                <td>
                  {{#if this.block}}
                  <button onclick="if(confirm('Are you sure to unblock category?')){window.location.href='/admin/unblockcat/{{this._id}}'}" class="btn btn-success btn-block">Unblock</button>
                  {{else}}
                  <button onclick="if(confirm('Are you sure to block category?')){window.location.href='/admin/blockcat/{{this._id}}'}" class="btn btn-danger btn-block">Block</button>
                  {{/if}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>
</body>

</html>