<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar">
      <div class="navbar-container container">
        <input type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <ul class="menu-items">
          <li><a href="/admin/home">Home</a></li>
          <li><a href="/admin/category">Categories</a></li>
          <li><a href="/admin/product">Products</a></li>
          <li><a href="/admin/user">Users</a></li>
          <li><a href="/admin/">Logout</a></li>
        </ul>
        <h1 class="logo">Aura Scents</h1>
      </div>
    </nav>

<section style="margin-top: 10px;">
  <div class="container">
    <div class="row">

      <div class="d-flex ">
        <div>
          <form class=" form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" style="width: 200px;" placeholder="Search catogary">
            <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 8;" type="submit">Search</button>
          </form>
        </div>
        <div class="ms-auto" id="addCategory">
          <li style="list-style: none;"><a href="/admin/addcategory" style="text-decoration: none;"><button class="btn btn-outline-primary">Add</button></a></li>
        </div>

        {{!-- <div class="ms-auto" id="editCatogary">
          <form class=" form-inline my-2 my-lg-0 ms-auto" method="post" action="/admin/updateCategory/{{data._id}}">
            <input class="form-control mr-sm-2" type="text" value="{{data.Category}}" name="catogaryAdd"
              style="width: 200px;" placeholder="click edit btn then change">
            <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8;" type="submit">submit</button>
          </form>
        </div> --}}
      </div>


    </div>

    <table class="table" style="margin-top: 20px;">
      <thead>
        <tr>
          <th scope="col">No</th>

          <th scope="col">Category</th>
          <th scope="col">Sub-category</th>

          <th scope="col">Edit category</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}

        <tr>

          <td>{{@index}}</td>

          <td>{{this.category}}</td>
          <td>{{this.sub}}</td>

          <td>
            <li style="list-style: none;"><a href="/admin/editcategory" style="text-decoration: none;">
            <button class="btn btn-outline-primary">Edit</button></a></li>
            
          </td>
          <td>{{#if this.block}}
          <p>Blocked</p>
          {{else}}
          <p>Active</p>
          {{/if}}
          </td>
          <td>
            {{#if this.block}}
            <button onclick="if( confirm(' Are you sure to unblock category?')){window.location.href='/admin/unblockcat/{{this._id}}' }"
              class="btn btn-success btn-block mb-4">Unblock</button>
            {{else}}
            <button onclick="if( confirm(' Are you sure to block category?')){window.location.href='/admin/blockcat/{{this._id}}' }"
              class="btn btn-danger btn-block mb-4">Block</button>
            {{/if}}
            
          </td>
        </tr>

        {{/each}}

      </tbody>
    </table>

  </div>
</section>
</body>
</html>