<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">

                <li><a href="/admin/category">Categories</a></li>
                <li><a href="/admin/product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/coupon">Coupons</a></li>
                <li><a href="/admin/order">Orders</a></li>
                <li><a href="/admin/salesReport">Sales Report</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
            <h1 class="logo">Perfumio</h1>
        </div>
    </nav>

  <section style="margin-top: 80px; background-color: rgb(255, 255, 255);margin-left: 6rem;margin-right: 6rem;">
    <div class="container">
      <div class="row">

        <div class="d-flex ">
          
            {{!-- <form class=" form-inline my-2 my-lg-0">
              
              <input class="form-control mr-sm-2" type="text" style="width: 200px;" placeholder="Search catogary">
              <a href="" style="text-decoration: none;width: 10rem;margin-left: 1rem;"><button
          class="btn btn-outline-primary">Search</button></a>
              
            </form> --}}
          
          <div class="ms-auto" id="addCategory">
            <a href="/admin/addcategory" style="text-decoration: none;"><button
                  class="btn btn-outline-primary mt-3">Add</button></a>
          </div>


        </div>


      </div>

      <table class="table" style="margin-top: 20px;">
        <thead>
          <tr>
            <th scope="col">No</th>

            <th scope="col">Category</th>
            

            <th scope="col">Edit category</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}

          <tr>

            <td>{{inc @index}}</td>

            <td>{{this.category}}</td>
            

            <td>
              <li style="list-style: none;"><a href="/admin/editcategory/{{this._id}}" style="text-decoration: none;">
                  <button class="btn btn-outline-primary">Edit</button></a></li>

            </td>
            <td>{{#if this.block}}
              <p>Blocked</p>
              {{else}}
              <p>Active</p>
              {{/if}}
            </td>
            <td>
              {{#if this.block}}
              <button
                onclick="if( confirm(' Are you sure to unblock category?')){window.location.href='/admin/unblockcat/{{this._id}}' }"
                class="btn btn-success btn-block mb-4">Unblock</button>
              {{else}}
              <button
                onclick="if( confirm(' Are you sure to block category?')){window.location.href='/admin/blockcat/{{this._id}}' }"
                class="btn btn-danger btn-block mb-4">Block</button>
              {{/if}}

            </td>
          </tr>

          {{/each}}

        </tbody>
      </table>

    </div>
  </section>
</body>

</html>