<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
        }

        @media screen and (max-width: 768px) {
            .logout {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #ddd;
            }

            input[type="checkbox"]:checked+.menu-items {
                display: block;
            }

            input[type="checkbox"]:not(:checked)+.logout {
                display: none;
            }

            .navbar-container {
                flex-direction: column;
                align-items: center;
            }

            .logo {
                margin-top: 1rem;
            }

            .menu-items {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 0;
                background-color: #fff;
                z-index: 1;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

            .menu-items li {
                width: 100%;
                text-align: center;
            }

            .menu-items li a {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #ddd;
            }

            .hamburger-lines {
                display: block;
                position: relative;
                width: 2rem;
                height: 1rem;
                cursor: pointer;
            }

            .line {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: #333;
                transition: transform 0.3s ease-out;
            }

            .line1 {
                transform: translateY(-0.5rem);
            }

            .line2 {
                transform: translateY(0);
            }

            .line3 {
                transform: translateY(0.5rem);
            }

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked+.menu-items {
                display: block;
            }
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="navbar">
                <div class="navbar-container container">
                    <input type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <ul class="menu-items" style="z-index: 1;">
                        <li><a href="/admin/dashboard">Dashboard</a></li>
                        <li><a href="/admin/category">Categories</a></li>
                        <li><a href="/admin/product">Products</a></li>
                        <li><a href="/admin/user">Users</a></li>
                        <li><a href="/admin/coupon">Coupons</a></li>
                        <li><a href="/admin/order">Orders</a></li>
                        <li><a href="/admin/salesReport">Sales Report</a></li>
                        <li ><a href="/admin/logout">Logout</a></li>
                        <li><a href=""></a></li>
                    </ul>
                    <h1 class="logo">Perfumio</h1>
                </div>
            </nav>
            <div class="row" style="padding-top: 150px;">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                    class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title"><img style="width: 100px; height: 80px;" class="img-fluid"
                                        src="https://watermarkconsult.net/wp-content/uploads/2015/10/Revenue-Growth.jpg"
                                        alt=""> Revenue</h6>
                                <span>
                                    <h6 style="margin-left: 105px;">Rs: <strong>{{totalRevenue}}</strong></h6>
                                </span>



                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i
                                    class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title"><img style="width: 100px; height: 80px;margin-right: 20px;"
                                        class="img-fluid"
                                        src="https://www.cms.gov/About-CMS/Agency-Information/OMH/Images/redesign/images/CCM-Homepage/product-ordering/3col-CMS-CCM-Product-Ordering-150.png"
                                        alt="">Orders</h6> <span
                                    style="margin-left: 115px;"><strong>{{orderCount}}</strong> Total
                                    orders</span><br>


                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                    class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title"><img style="width: 100px; height: 80px;margin-right: 15px;"
                                        class="img-fluid"
                                        src="https://previews.123rf.com/images/aurielaki/aurielaki1806/aurielaki180600027/103746430-online-payment-internet-payments-protection-of-money-in-cellphone-transactions-can-use-for-web.jpg"
                                        alt="">Online Payment</h6>
                                <span style="margin-left: 115px;"><strong>{{online}}</strong> Total Count </span><br>
                                <span class="text-sm">

                                </span>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                    class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title"><img style="width: 100px; height: 80px;margin-right: 15px;"
                                        class="img-fluid" src="https://blog.pipit.global/hubfs/COD%20blog%20image.jpeg"
                                        alt="">COD Payment Count</h6>
                                <span style="margin-left: 115px;"><strong>{{cod}}</strong> Total Count</span><br>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                    class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title"><img style="width: 100px; height: 80px;margin-right: 15px;"
                                        class="img-fluid"
                                        src="https://i0.wp.com/networknuts.net/wp-content/uploads/2019/11/zahir-accounting-software-have-more-than-60.000-users.png"
                                        alt="">User Count</h6>
                                <span style="margin-left: 115px;"><strong>{{userCount}}</strong> Total </span><br>


                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                    class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title"><img style="width: 100px; height: 80px;margin-right: 15px;"
                                        class="img-fluid"
                                        src="https://www.brides.com/thmb/SdzS2_uVP0_wp0rDu2S003xFFtk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__5b845ee6d83eb614e2366a65__11-3d487af5ba534727a565f6b6d3d5e503.jpeg"
                                        alt="">Product Count</h6>
                                <span style="margin-left: 115px;"><strong>{{productCount}}</strong> Total</span><br>

                            </div>
                        </article>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-8">
                    <div id="chart" style="background-color: aliceblue;">
                        <h3 style="padding: 12px;font-weight: bold; color: darkblue;">Total Revenue</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="piechart" class="mt-1">
                        <h3 style="padding: 7px;font-weight: bold; color: darkblue;">Payment Method </h3>
                    </div>
                </div>
            </div>
            <script>

                let online = {{ online }}
                let cod = {{ cod }}
                var options = {
                    series: [

                        {
                            name: 'Revenue',
                            data: [{{ monthlyData }}]
                } 
       
        ],
                chart: {
                    type: 'bar',
                        height: 350,
                            width: 900
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                            columnWidth: '55%',
                                endingShape: 'rounded'
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                        width: 2,
                            colors: ['transparent']
                },
                xaxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        },
                yaxis: {
                    title: {
                        text: '$ (thousands)'
                    }
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return "$ " + val + " thousands"
                        }
                    }
                }
        };

                var chart = new ApexCharts(document.querySelector("#chart"), options);
                chart.render();

                var options = {
                    series: [online, cod],
                    chart: {
                        width: 380,
                        type: 'pie',
                    },
                    labels: ['online', 'COD'],
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                };
                var piechart = new ApexCharts(document.querySelector("#piechart"), options);
                piechart.render();


            </script>



            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
                integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
                crossorigin="anonymous"></script>


                <script>
    $(document).ready(function () {
      $("#pdfTable").DataTable({
        dom: "Bfrtip",
        buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
      });
    });

    $(document).ready(function() {
    $('#pdfTable').DataTable( {
        searching: true,
        paging: true,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ]
    } );
} );
  </script>
</body>

</html>