<!doctype html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-DOXMLfHhQkvFFp+rWTZwVlPVqdIhpDVYT9csOnHSgWQWPX0v5MCGtjCJbY6ERspU" crossorigin="anonymous">
    {{!--
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" /> --}}
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">

                <li><a href="/admin/category">Categories</a></li>
                <li><a href="/admin/product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/coupon">Coupons</a></li>
                <li><a href="/admin/order">Orders</a></li>
                <li><a href="/admin/salesReport">Sales Report</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
            <h1 class="logo">Perfumio</h1>
        </div>
    </nav>



    <section class="mt-5" style="background-color: rgb(255, 255, 255); margin-left: 6rem;margin-right: 6rem;">
        <div class="container">
            <table class="table mt-5 border table-hover" id="pdfTable">
                <thead>
                    <tr>
                        <th scope="col" class="border-dark">No</th>
                        <th scope="col" class="border-dark">Order ID</th>
                        <th scope="col" class="border-dark">Name</th>
                        <th scope="col" class="border-dark">Product Name</th>
                        <th scope="col" class="border-dark">Date</th>


                        <th scope="col" class="border-dark">Mobile</th>
                        <th scope="col" class="border-dark">Amount</th>
                        <th scope="col" class="border-dark">Payment</th>
                        <th scope="col" class="border-dark">Payment Status</th>
                        <th scope="col" class="border-dark">Status</th>
                        <th scope="col" class="border-dark">Action</th>
                        <th scope="col" class="border-dark">View</th>

                        {{! <th class="border-dark"></th> }}
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <th class="border-dark" scope="row">{{inc @index}}</th>
                        <td class="border-dark">{{this._id}}</td>
                        <td class="border-dark">{{this.address.name}}</td>
                        <td class="border-dark">{{this.products.name}}</td>
                        <td class="border-dark">{{this.orderDate}}</td>


                        <td class="border-dark">{{this.address.mobile}}</td>
                        <td class="border-dark">{{this.totalPrice}}</td>
                        <td class="border-dark">{{this.payment}}</td>
                        <td class="border-dark">{{this.paymentStatus}}</td>
                        {{#ifEquals this.orderStatus "Pending"}}
                        <td class="badge text-bg-warning mt-3">{{this.orderStatus}}</td>
                        {{else ifEquals this.orderStatus "Shipped"}}
                        <td class="badge text-bg-primary mt-3">{{this.orderStatus}}</td>
                        {{else ifEquals this.orderStatus "Delivered"}}
                        <td class="badge text-bg-success mt-3">{{this.orderStatus}}</td>
                        {{else ifEquals this.orderStatus "Cancelled"}}
                        <td class="badge text-bg-danger mt-3">{{this.orderStatus}}</td>
                        {{/ifEquals}}
                        <td class="border-dark">

                           
                            <div class="dropdown-container" tabindex="-1">
                                 {{#ifEquals orderStatus "Delivered"}}
                                <div class="three-dots "></div>
                                <div class="dropdown">

                                   
                                    <button style="width: 100%;"><a class="dropdown-item "
                                            href="/admin/pendingPdt/{{this._id}}">Pending</a></button>
                                    <button style="width: 100%;"><a class="dropdown-item"
                                            href="/admin/shippingPdt/{{this._id}} ">Shipped</a></button>
                                    <button style="width: 100%;"><a class="dropdown-item"
                                            href="/admin/deliveredPdt/{{this._id}} ">Delivered</a></button>
                                    <button style="width: 100%;"><a class="dropdown-item "
                                            href="/admin/cancelPdt/{{this._id}}">Cancelled</a></button>
                                    
                                  

                                </div>
                            </div>
                            {{else}}
                            <p>*</p>
                            {{/ifEquals}}
                            
                        </td>
                        <td><a href="/admin/editOrder/{{this._id}}" class="btn btn-success">View</a>

                    </tr>
                    {{/each}}

                </tbody>
            </table>

        </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    -->
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#pdfTable").DataTable({
                dom: "Bfrtip",
                buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
            });
        });
    </script> --}}
     
</body>

</html>