<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/user/cart.css">
  <title>Document</title>
</head>

<body>
  <div class="bg-dark navBar" style="height: 120px;">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row align-items-center">
        <!-- LOGO -->
        <div class="col-md-2">
          <div class="header-logo ">
            <a href="/" class="logo" style="text-decoration: none;">
              <h1 class="font-weight-bold " style="color: #ffff; width:20rem;">Aura Scents

              </h1>
             
            </a>
             
          </div>
          
        </div>
        <div class="col-md-6 text-center " style="margin-left: 8rem;">
          {{!-- <h2 class="text-white "> Profile Manager</h2> --}}
        </div>
      </div>
    </div>
  </div>

  <div class="p-5 row container-fluid">
    <div class="col-md-6 col-sm-12  mt-1">
       
      {{#each products}}
      <div class=" mt-5 container-fluid row ms-2">
       
        <div class="col-md-4 cartCard">
          <img src="/pic/{{this.image.filename}}" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-md-8 cart">
          <h3>{{this.name}}</h3>
          <h5 style="color: rgba(0, 0, 0, 0.526);">{{this.category}}</h5>
          <div class="qauntitySection">
            Quantity: <a href="/addquantity/{{this._id}}">
              <div class="addquantitybtn">+</div>

            </a><b>{{this.quantity}}</b>

            <a href="/minusquantity/{{this._id}}">
              <div class="addquantitybtn">-</div>
            </a>
          </div>
          <h4>{{this.price}}</h4>
          <a href="/removeCart/{{this._id}}/{{this.quantity}}" class="btn btn-warning ">Remove From cart </a>
        </div>
      </div>
      {{/each}}
      <div class="div">

      </div>
    </div>
    <div class="col-md-6 col-sm-4 mt-1 container-fluid">
      <h3 class="text-center">Cart Total</h3>
      <table class="table tableCart mt-5">

        <thead>
          <tr>

            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>

            <td>{{this.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
          </tr>
          {{/each}}
          

          
        </tbody>
        <tr>
          <td>Total MRP</td>
          <td></td>
          <td>{{totalMRP}}</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td></td>
          <td>{{discount}}</td>
        </tr>
        <td>Delivery Charge</td>
        <td></td>
        <td>0.00</td>
        </tr>
        </tr>
        <td>
          <h4>Total Amount</h4>
        </td>
        <td></td>
        <td>
          <h4> {{TotalAmount}}</h4>
        </td>
        </tr>
      </table>
      <div class="orderBtns d-flex  row justify-content-between ms-5">
        <div class="row"></div>
        <a href="/checkOut" class="btn btn-dark col-sm-5">Check Out</a>
        <button class="btn btn-outline-danger col-sm-5 cancelbtn">Cancel</button>
      </div>

    </div>


  </div>
</body>

</html>