<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/user/profle.css">
  <link rel="stylesheet" href="/user/productDetails.css">
  <link rel="stylesheet" href="/user/cart.css">
  <link rel="stylesheet" href="/user/userHome.css" />



  <title>Document</title>
</head>

<body>
  <script src="https://kit.fontawesome.com/3b1ca000cb.js"></script>

  <header>
    <nav>
      <div class="logo " style="width: 100%; color: rgb(252, 252, 252);padding-top: 35px;">
        <a href="/">
          <h1>Perfumio</h1>
        </a>
      </div>
      <form action="/search" method="post">
                <div class="search__bar__header mt-4">
                    <input type="text" placeholder="Search" name="name"
                        style="border-bottom-left-radius: 20px;border-top-left-radius: 20px;height: 25px;">
                    <button style="border-bottom-right-radius: 20px;border-top-right-radius: 20px;height: 27px;background-color: aliceblue;width: 2rem;" type="submit"><img style="width: 1rem;height: 1rem;" src="/images/search-30.png"
                            
                            alt=""></button>
                </div>
            </form>
      <div class="cart__header__desktop " style="color: white;">
        <a href="/wishlist" style="text-decoration: none;"><img src="/images/icons8-heart-32.png" alt=""></a>
        <a onclick="cart" href="/cart"><img src="/images/icons8-shopping-cart-64.png"
            style="width: 2rem;height: 2rem;margin-left: 3rem;" alt=""></a>
        {{!-- <span>50</span> --}}

    </nav>

    <div class="main__navigations pt-2">
      <div class="main__navigations__div">
        <ul class="main__navigations__div__ul">
          <li class="main__navigations__div__li on__mobile_d_none" style="font-weight: bold;"><a href="/">Home</a>
          </li>
          <li class="main__navigations__div__li on__mobile_d_none">
            <a class="categ" style="font-weight: bold;">Categories <i class="fas fa-caret-down"></i></a>
            <div class="div__categories__items">
              <p><a href="">Men</a></p>
              <p><a href="">Women</a></p>

            </div>
          </li>
          {{!-- <li class="main__navigations__div__li save__from__left"><a href="" class="anchor__remains__same"
              style="font-weight: bold;"><i class="fas fa-user"></i> Hello,
              parimal mahindrakar.</a></li> --}}
          <li class="main__navigations__div__li">
            {{#unless Login }}
            <a href="/login" class="anchor__remains__same" style="padding-bottom: 0;font-weight: bold;">Login <i
                class="fas fa-sign-out-alt"></i> </a>

            {{else}}

            <div class="dropdown-center">
              <button class="btn btn-black dropdown-toggle"
                style="color: aliceblue;margin-top: -5px;font-weight: bold; " type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{Login}}
              </button>
              <ul class="dropdown-menu " style="color: aliceblue;background-color: grey;">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>

              </ul>
            </div>


            {{/unless}}
          </li>
          <div class="bars save__from__right">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </ul>

      </div>
    </div>

    <div class="mobile__nav__fade__and__show">
      <div class="mobile__nav__fade__and__show__text">
        <li><a href="">Home</a></li>
        <li>
          <a href="">Categories</a>
          <div>
            <p><a href="">Category 1</a></p>

          </div>
        </li>
      </div>
    </div>
    <div class="mobile__nav__fade__and__show__circle">sdsds</div>
  </header>

  <div class="p-5 row container-fluid " style="margin-top: 100px;">
    <div class="col-md-6 col-sm-12  mt-1">
      {{#if message}}
      <div style="margin-left: 290px;"><img src="/images/cart1.png" alt="">
        <a href="/"><button class="btn btn-dark" style="margin-left: 19rem;width: 50%; margin-top: -10rem;">Go
            Home</button></a>
      </div>
      {{!-- <div style="align-items: center;"></div> --}}
      {{/if}}
      <div class="alert alert-dark alert-dismissible fade show" role="alert" style="display: none;" id="cartAlert">
        <div>
          <strong>Out Of Stock!</strong>
        </div>


      </div>
      {{#each products}}
      <div class=" mt-5 container-fluid row ms-2">

        <div class="col-md-4 cartCard">
          <img src="/pic/{{this.image.filename}}" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-md-8 cart">
          <h3>{{this.name}}</h3>
          <h5 style="color: rgba(0, 0, 0, 0.526);">{{this.category}}</h5>
          <div class="qauntitySection">
            Quantity:<button style="width: 2rem;color: white; background-color: rgb(5, 5, 5);color: #FFC107;"
              onclick="decrement('{{this._id}}')">-</button> <b id="quantityBox{{this._id}}">{{this.quantity}}</b>
            <button style="width: 2rem;color: #FFC107; background-color: rgb(0, 0, 0);margin-right: 5px;"
              onclick="increment('{{this._id}}')">+</button>
          </div>
          <h4 id="singlePrice{{this._id}}">{{this.price}}</h4>
          <a href="/removeCart/{{this._id}}/{{this.quantity}}" class="btn btn-warning ">Remove From cart </a>
        </div>
      </div>
      {{/each}}
      <div class="div">

      </div>
    </div>
    {{#unless message}}
    <div class="col-md-6 col-sm-4 mt-1 container-fluid">
      <h3 class="text-center">Cart Total</h3>
      <table class="table tableCart mt-5">

        <thead>
          <tr>

            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th style="visibility: hidden;" scope="col">MRP</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>

            <td>{{this.name}}</td>
            <td id="quantity{{this._id}}">{{this.quantity}}</td>
            <td id="price{{this._id}}">{{this.price}}</td>
            <td style="visibility: hidden;" id="mrp{{this.id}}">{{this.mrp}}</td>
          </tr>
          {{/each}}



        </tbody>
        <tr>
          <td>Total MRP</td>
          <td></td>
          <td id="totalMRP">{{totalMRP}}</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td></td>
          <td>{{discount}}</td>
        </tr>
        <td>Delivery Charge</td>
        <td></td>
        <td>0.00</td>
        </tr>
        </tr>
        <td>
          <h4>Total Amount</h4>
        </td>
        <td></td>
        <td id="totalAmount">
          <h4> {{TotalAmount}}</h4>
        </td>
        </tr>
      </table>
      <div class="orderBtns d-flex  row justify-content-between ms-5">
        <div class="row"></div>
        <a class="btn btn-dark col-sm-5" onclick="checkQuantity()">Check Out</a>
        {{!-- <button class="btn btn-outline-danger col-sm-5 cancelbtn">Cancel</button> --}}
      </div>

    </div>
    {{/unless}}

  </div>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script>
    function increment(id) {
      axios.get('/addquantity/' + id).then((result) => {
        if (result.data.success) {
          let quantityBox = document.getElementById('quantityBox' + id)
          quantityBox.textContent = Number(quantityBox.textContent) + 1
          document.getElementById('quantity' + id).textContent = quantityBox.textContent
          let price = document.getElementById('singlePrice' + id)
          console.log(price.textContent)
          document.getElementById('price' + id).textContent = Number(quantityBox.textContent) * Number(price.textContent)
          document.getElementById('totalAmount').textContent = document.getElementById('price' + id).textContent
          let totalMRP = document.getElementById('mrp' + id)
          document.getElementById('totalMRP').textContent = Number(quantityBox.textContent) * Number(mrp.textContent)
        }

      })
    }

    function decrement(id) {
      axios.get('/minusquantity/' + id).then((result) => {
        if (result.data.success) {
          let quantityBox = document.getElementById('quantityBox' + id)
          quantityBox.textContent = Number(quantityBox.textContent) - 1
          document.getElementById('quantity' + id).textContent = quantityBox.textContent
          let price = document.getElementById('singlePrice' + id)
          document.getElementById('price' + id).textContent = Number(quantityBox.textContent) * Number(price.textContent)
          document.getElementById('totalAmount').textContent = document.getElementById('price' + id).textContent
          let totalMRP = document.getElementById('mrp' + id)
          document.getElementById('totalMRP').textContent = Number(quantityBox.textContent) * Number(mrp.textContent)
        }
      })
    }


    function checkQuantity() {
      axios.post("/checkQuantity").then(result => {
        if (result?.data?.error) {
          document.getElementById('cartAlert').style.display = "flex"
          response.data.outOfQuantity.forEach(item => {
            if (item.balanceQuantity <= 0) {
              document.getElementById(item.id).innerHTML = "Out Of Stock"
            } else {
              document.getElementById(item.id).innerHTML = "Only " + item.balanceQuantity + " stocks left"
            }
          })
        } else {
          window.location.href = "/checkout"
        }
      })
    }
  </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <script>new WOW().init();</script>
  <script>$(".bars").click(() => {
      $(".mobile__nav__fade__and__show__circle").toggleClass("open");
      $(".mobile__nav__fade__and__show").toggleClass("open");
      $(".bars").toggleClass("toggle")

    })</script>
</body>

</html>