<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/user/userHome.css" />
    <link rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
  
  <link rel="stylesheet" href="/user/userHome.css" />

<style>
  @media (max-width: 767px) {
  .p-5.row.container-fluid {
    margin-top: 50px;
  }
  .cartCard {
    text-align: center;
  }
  .cart {
    margin-top: 1rem;
  }
  .qauntitySection {
    margin-top: 1rem;
  }
  #message {
    display: none;
  }
  .btn-dark {
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
  }
}
This will adjust the layout of the first div for mobile devices with a maximum width of 767px. It will center the images and adjust the positioning of the quantity buttons and the "Go Home" button. It will also hide the error message and adjust the width of the "Go Home" button to fill the width of the container.






  @media only screen and (max-width: 768px) {
  div {
    margin-left: 0;
  }
  
  button {
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
  }
}</style>

  <title>Document</title>
</head>

<body>
  <script src="https://kit.fontawesome.com/3b1ca000cb.js"></script>

   <header>
        <nav>
            <div class="logo " style="width: 100%; color: rgb(252, 252, 252);padding-top: 35px;">
               <a href="/"><h1>Perfumio</h1></a> 
            </div>
             <form action="/search" method="post">
                <div class="search__bar__header mt-4">
                    <input type="text" placeholder="Search" name="name"
                        style="border-bottom-left-radius: 20px;border-top-left-radius: 20px;height: 25px;">
                    <button
                        style="border-bottom-right-radius: 20px;border-top-right-radius: 20px;margin-top: 0px;height: 27px;background-color: aliceblue;width: 2rem;"
                        type="submit">
                        <img style="width: 1rem;height: 1rem;margin-top: 0px;" src="/images/search-30.png" alt="">
                    </button>
                </div>
            </form>
            <div class="cart__header__desktop " style="color: white;">
                <a href="/wishlist" style="text-decoration: none;padding-top: 25px;"><img src="/images/icons8-heart-32.png" alt=""></a>
                <a onclick="cart" href="/cart"><img src="/images/icons8-shopping-cart-64.png"
                        style="width: 2rem;height: 2rem;margin-left: 1rem;margin-top: 25px;" alt=""></a>
            </div>

            <div class="main__navigations pt-2">
                <div class="main__navigations__div">
                    <ul class="main__navigations__div__ul">
                        <li class="main__navigations__div__li on__mobile_d_none" style="font-weight: bold;"><a
                                href="">Home</a></li>
                        <li class="main__navigations__div__li on__mobile_d_none">
                            <a class="categ" style="font-weight: bold;">Categories <i class="fas fa-caret-down"></i></a>
                            <div class="div__categories__items">
                                <p><a href="/men">Men</a></p>
                                <p><a href="/women">Women</a></p>
                            </div>
                        </li>
                        <li class="main__navigations__div__li">
                            {{#unless Login }}
                            <a href="/login" class="anchor__remains__same"
                                style="padding-bottom: 0;font-weight: bold;">Login <i class="fas fa-sign-out-alt"></i>
                            </a>
                            {{else}}
                            <div class="dropdown-center login_button">
                                <button class="btn btn-black dropdown-toggle "
                                    style="color: aliceblue;margin-top: -5px;font-weight: bold; " type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{Login}}
                                </button>
                                <ul class="dropdown-menu " style="color: aliceblue;background-color: grey;">
                                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </div>
                            {{/unless}}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

  <div class="p-5 row container-fluid " style="margin-top: 100px;">
    <div class="col-md-6 mt-1">
      {{#if message}}
      <div class="image-fluid" style="margin-left: 290px;"><img src="/images/cart1.png" alt="">
        <a href="/"><button class="btn btn-dark" style="margin-left: 19rem;width: 50%; margin-top: -10rem;">Go
            Home</button></a>
      </div>
      {{!-- <div style="align-items: center;"></div> --}}
      {{/if}}
      
      {{#each products}}
      <div class=" mt-5 container-fluid row ms-2">

        <div class="col-md-4 cartCard">
          <img src="/pic/{{this.image.filename}}" class="img-fluid" alt="" srcset="">
          <span id="message{{this._id}}" class="text-danger font-weight-bold"></span>
        </div>
        <div class="col-md-8 cart">
          <h3>{{this.name}}</h3>
          <h5 style="color: rgba(0, 0, 0, 0.526);">{{this.category}}</h5>
          <div class="qauntitySection">
            Quantity:<button style="width: 2rem;color: white; background-color: rgb(5, 5, 5);color: #FFC107;"
              onclick="decrement('{{this._id}}')">-</button> <b id="quantityBox{{this._id}}">{{this.quantity}}</b>
            <button style="width: 2rem;color: #FFC107; background-color: rgb(0, 0, 0);margin-right: 5px;"
              onclick="increment('{{this._id}}')">+</button>
          </div>
          <h4 id="singlePrice{{this._id}}">{{this.price}}</h4>

          <a href="/removeCart/{{this._id}}" class="btn btn-warning ">Remove From cart </a>

        </div>
      </div>
      {{/each}}
      <div class="div">

      </div>
    </div>
    {{#unless message}}
    <div class="col-md-6 col-sm-4 mt-1 container-fluid">
      <h3 class="text-center">Cart Total</h3>
      <table class="table tableCart mt-5">

        <thead>
          <tr>

            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
           
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>

            <td>{{this.name}}</td>
            <td id="quantity{{this._id}}">{{this.quantity}}</td>
            <td id="price{{this._id}}">{{this.price}}</td>

          </tr>
          {{/each}}



        </tbody>
        <tr>
          <td>Discount</td>
          <td></td>
          <td>{{discount}}</td>
        </tr>
        <td>Delivery Charge</td>
        <td></td>
        <td>0.00</td>
        </tr>
        </tr>
        <td>
          <h4>Total Amount</h4>
        </td>
        <td></td>
        <td id="totalAmount">
          <h4> {{TotalAmount}}</h4>
        </td>
        </tr>
      </table>
      <div class="orderBtns d-flex  row justify-content-between ms-5">
        <div class="row"></div>
        <a class="btn btn-dark col-sm-5" href="/checkout">Check Out</a>
      
      </div>

    </div>
    {{/unless}}

  </div>
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                target="_blank" role="button">Contact
                <i class="fas fa-download ml-2"></i>
            </a>
            <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank"
                role="button">Perfumio
                <i class="fas fa-graduation-cap ml-2"></i>
            </a>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="#" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="#" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>

            <a href="#" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>

            <a href="http://perfumio.online" target="_blank">
                <i class="fab fa-google-plus-g mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2023 Copyright:
            <a href="" target="_blank"> perfumio.online</a>
        </div>
        <!--/.Copyright-->

    </footer>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script>
    function increment(id) {
    axios.get('/addquantity/' + id).then((result) => {
      console.log(result)
      if (result.data.success) {
        let quantityBox = document.getElementById('quantityBox' + id)
        quantityBox.textContent = Number(quantityBox.textContent) + 1
        document.getElementById('quantity' + id).textContent = quantityBox.textContent
        let price = document.getElementById('singlePrice' + id)
        console.log(price.textContent)
        document.getElementById('price' + id).textContent = Number(quantityBox.textContent) * Number(price.textContent)
        document.getElementById('totalAmount').textContent = document.getElementById('price' + id).textContent
      }
      else {
         document.getElementById('message'+id).textContent="Out of Stock"
      }
    })
  }
    
    function decrement(id) {
      let quantityBox = document.getElementById('quantityBox' + id)
      if (Number(quantityBox.textContent) >= 2) {
        axios.get('/minusquantity/' + id).then((result) => {
          console.log(result.data)
          if (result.data.success) {
            
            quantityBox.textContent = Number(quantityBox.textContent) - 1
            document.getElementById('quantity' + id).textContent = quantityBox.textContent
            let price = document.getElementById('singlePrice' + id)
            document.getElementById('price' + id).textContent = Number(quantityBox.textContent) * Number(price.textContent)
            document.getElementById('totalAmount').textContent = document.getElementById('price' + id).textContent
   
          }
        })
      }
    }
  </script>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</body>

</html>

