<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/user/style.css">
    <link rel="stylesheet" href="/user/userHome.css" />
    <link rel="stylesheet" href="/user/productDetails.css">

    <title>Document</title>
</head>

<body>
    <script src="https://kit.fontawesome.com/3b1ca000cb.js"></script>

    <header>
        <nav>
            <div class="logo" style="width: 100%; color: rgb(252, 252, 252);padding-top: 35px;">
                <a href="/">
                    <h1>Perfumio</h1>
                </a>
            </div>
            <form action="/search" method="post">
                <div class="search__bar__header mt-4">
                    <input type="text" placeholder="Search" name="name"
                        style="border-bottom-left-radius: 20px;border-top-left-radius: 20px;height: 25px;">
                    <button
                        style="border-bottom-right-radius: 20px;border-top-right-radius: 20px;height: 27px;background-color: aliceblue;width: 2rem;"
                        type="submit"><img style="width: 1rem;height: 1rem;" src="/images/search-30.png"
                            alt=""></button>
                </div>
            </form>
            <div class="cart__header__desktop" style="color: white;">
                <a href="/wishlist" style="text-decoration: none;"><img src="/images/icons8-heart-32.png" alt=""></a>
                <a href="/cart"><img src="/images/icons8-shopping-cart-64.png"
                        style="width: 2rem;height: 2rem;margin-left: 3rem;" alt=""></a>
                {{!-- <span>50</span> --}}

        </nav>

        <div class="main__navigations pt-2">
            <div class="main__navigations__div">
                <ul class="main__navigations__div__ul">
                    <li class="main__navigations__div__li on__mobile_d_none" style="font-weight: bold;"><a
                            href="/">Home</a>
                    </li>
                    <li class="main__navigations__div__li on__mobile_d_none">
                        <a class="categ" style="font-weight: bold;">Categories <i class="fas fa-caret-down"></i></a>
                        <div class="div__categories__items">
                            <p><a href="/men">Men</a></p>
                            <p><a href="/wpmen">Women</a></p>

                        </div>
                    </li>
                    <li class="main__navigations__div__li">
                        {{#unless Login }}
                        <a href="/login" class="anchor__remains__same"
                            style="padding-bottom: 0;font-weight: bold;">Login<i class="fas fa-sign-out-alt"></i> </a>

                        {{else}}

                        <div class="dropdown-center">
                            <button class="btn btn-black dropdown-toggle"
                                style="color: aliceblue;margin-top: -5px;font-weight: bold; " type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{Login}}
                            </button>
                            <ul class="dropdown-menu " style="color: aliceblue;background-color: grey;">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>

                            </ul>
                        </div>
                        {{/unless}}
                    </li>

                    <div class="bars save__from__right">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </ul>

            </div>
        </div>

    </header>

    <div class="container my-5" style="padding-top: 150px;">

        <div class="row">
          
            <div class="col-md-5">
                <div class="show" href="/pic/{{products.image.filename}}">
                    <img src="/pic/{{products.image.filename}}" id="show-img">
                </div>

                <!-- Secondary carousel image thumbnail gallery -->

                <div class="small-img">
                    <img src="/pic/next-icon.png" class="icon-left" alt="" id="prev-img">
                    <div class="small-container">
                        <div id="small-img-roll">
                            <img src="/pic/{{products.image.filename}}" class="show-small-img" alt="">
                            <img src="/pic/{{products.subimage.[0].filename}}" class="show-small-img" alt="">
                            <img src="/pic/{{products.subimage.[1].filename}}" class="show-small-img" alt="">
                            <img src="/pic/{{products.subimage.[2].filename}}" class="show-small-img" alt="">
                        </div>
                    </div>
                    <img src="/pic/next-icon.png" class="icon-right" alt="" id="next-img">
                </div>
            </div>


            <div class="col-md-6  ms-5">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Category: {{products.category}}
                    </div>
                    <div class="product-title text-bold my-3">
                        {{products.name}}
                    </div>


                    <div class="price-area my-4">
                        <p class="old-price mb-1"><del>{{products.mrp}}</del> <span
                                class="old-price-discount text-danger">(20% off)</span></p>
                        <p class="new-price text-bold mb-1">{{products.price}}</p>
                        <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>

                    </div>


                    <div class="buttons d-flex my-5">
                        <div class="block">
                            <a href="/addToWishlist/{{products._id}}" class="shadow btn custom-btn "
                                style="background-color: black;">Wishlist</a>
                        </div>
                        <div class="block">
                            <a href="/addtocart/{{products._id}}"><button class="shadow btn custom-btn"
                                    style="background-color: black;">Add
                                    to cart</button></a>
                        </div>


                    </div>
                

                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Product Details</p>
                    <p class="description">{{products.description}}</p>

                </div>

                <div class="delivery my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in
                            3 days from date of purchase</b> </p>
                    <p class="text-secondary">Order now to get this product delivery</p>
                </div>


            </div>
        </div>

    </div>
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                target="_blank" role="button">Contact
                <i class="fas fa-download ml-2"></i>
            </a>
            <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank"
                role="button">Perfumio
                <i class="fas fa-graduation-cap ml-2"></i>
            </a>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="#" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="#" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>

            <a href="#" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>

            <a href="http://perfumio.online" target="_blank">
                <i class="fab fa-google-plus-g mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2023 Copyright:
            <a href="" target="_blank"> perfumio.online</a>
        </div>
        <!--/.Copyright-->

    </footer>



    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
    <script src="/scripts/zoom-image.js"></script>
    <script src="/scripts/main.js"></script>
    
    

</body>

</html>