<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/user/userHome.css" />
    <link rel="stylesheet" href="/user/productDetails.css">

    <style>
        #main-image {
            max-width: 100%;
            height: auto;
        }

        /* Navbar container */
        .navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial;
        }

        /* Links inside the navbar */
        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* The dropdown container */
        .dropdown {
            float: left;
            overflow: hidden;
        }

        /* Dropdown button */
        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            /* Important for vertical align on mobile phones */
            margin: 0;
            /* Important for vertical align on mobile phones */
        }

        /* Add a red background color to navbar links on hover */
        .navbar a:hover,
        .dropdown:hover .dropbtn {
            background-color: red;
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .wrap-pic-w {
            display: block;
        }

        /* Ensure the main image is always visible */
        .wrap-pic-w img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
        @media (max-width: 767px) {
  .sub-image {
    width: 80px;
    margin-left: -5px;
    
        height: auto;
  }
}
        @media only screen and (max-width: 767px) {
            .zoom-mobile {
                display: block;
                margin-top: 20px;
            }

            .zoom-mobile img {
                width: 100%;
                max-width: 350px;
                margin: 0 auto;
            }

            #image-zoom {
                display: none;
            }
        }

        .sub-image {
            cursor: pointer;
        }

        /* Adjust layout for smaller screens */
        @media (max-width: 767px) {
            .previews {
                justify-content: center;
            }

            .col-3 {
                margin-left: 0;
            }
        }
    </style>
    <title>Document</title>
</head>

<body>
    <script src="https://kit.fontawesome.com/3b1ca000cb.js"></script>

    <header>
        <nav>
            <div class="logo" style="width: 100%; color: rgb(252, 252, 252);padding-top: 35px;">
                <a href="/">
                    <h1>Perfumio</h1>
                </a>
            </div>
            <form action="/search" method="post">
                <div class="search__bar__header mt-4">
                    <input type="text" placeholder="Search" name="name"
                        style="border-bottom-left-radius: 20px;border-top-left-radius: 20px;height: 25px;">
                    <button
                        style="border-bottom-right-radius: 20px;border-top-right-radius: 20px;height: 27px;background-color: aliceblue;width: 2rem;"
                        type="submit"><img style="width: 1rem;height: 1rem;" src="/images/search-30.png"
                            alt=""></button>
                </div>
            </form>
            <div class="cart__header__desktop" style="color: white;">
                <a href="/wishlist" style="text-decoration: none;"><img src="/images/icons8-heart-32.png" alt=""></a>
                <a href="/cart"><img src="/images/icons8-shopping-cart-64.png"
                        style="width: 2rem;height: 2rem;margin-left: 3rem;" alt=""></a>
                {{!-- <span>50</span> --}}

        </nav>

        <div class="main__navigations pt-2">
            <div class="main__navigations__div">
                <ul class="main__navigations__div__ul">
                    <li class="main__navigations__div__li on__mobile_d_none" style="font-weight: bold;"><a
                            href="/">Home</a>
                    </li>
                    <li class="main__navigations__div__li on__mobile_d_none">
                        <a class="categ" style="font-weight: bold;">Categories <i class="fas fa-caret-down"></i></a>
                        <div class="div__categories__items">
                            <p><a href="/men">Men</a></p>
                            <p><a href="/wpmen">Women</a></p>

                        </div>
                    </li>
                    <li class="main__navigations__div__li">
                        {{#unless Login }}
                        <a href="/login" class="anchor__remains__same"
                            style="padding-bottom: 0;font-weight: bold;">Login<i class="fas fa-sign-out-alt"></i> </a>

                        {{else}}

                        <div class="dropdown-center">
                            <button class="btn btn-black dropdown-toggle"
                                style="color: aliceblue;margin-top: -5px;font-weight: bold; " type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{Login}}
                            </button>
                            <ul class="dropdown-menu " style="color: aliceblue;background-color: grey;">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>

                            </ul>
                        </div>


                        {{/unless}}
                    </li>

                    <div class="bars save__from__right">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </ul>

            </div>
        </div>

    </header>

    <div class="container my-5" style="padding-top: 150px;">

        <div class="row">
            <div class="col-md-5">
                <div class="wrap-pic-w pos-relative" id="image-zoom" style="z-index: 10;">
                    <img src="/pic/{{products.image.filename}}" alt="IMG-PRODUCT">
                </div>
                <div class="row my-3 previews">
                    <div class="col-md-3 ">
                        <img class="w-100 subimage" src="/pic/{{products.image.filename}}" alt="Sale" id="mainimage">
                    </div>

                    <div class="col-md-3 " style="margin-left: -8px;">
                        <img class="w-100 sub-image" src="/pic/{{products.subimage.[0].filename}}" alt="Sale"
                            id="subimage" onclick="changeImage('subimage-1')">
                    </div>
                    <div class="col-md-3 " style="margin-left: -8px;">
                        <img class="w-100 sub-image" src="/pic/{{products.subimage.[1].filename}}" alt="Sale"
                            id="subimage-2" onclick="changeImage('sub-image-2')">
                    </div>
                    <div class="col-md-3 " style="margin-left: -9px;">
                        <img class="w-100 sub-image" src="/pic/{{products.subimage.[2].filename}}" alt="Sale"
                            id="subimage-3" onclick="changeImage('sub-image-3')">
                    </div>
                </div>
            </div>

            <div class="col-md-6  ms-5">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Category: {{products.category}}
                    </div>
                    <div class="product-title text-bold my-3">
                        {{products.name}}
                    </div>


                    <div class="price-area my-4">
                        <p class="old-price mb-1"><del>{{products.mrp}}</del> <span
                                class="old-price-discount text-danger">(20% off)</span></p>
                        <p class="new-price text-bold mb-1">{{products.price}}</p>
                        <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>

                    </div>


                    <div class="buttons d-flex my-5">
                        <div class="block">
                            <a href="/addToWishlist/:id" class="shadow btn custom-btn "
                                style="background-color: black;">Wishlist</a>
                        </div>
                        <div class="block">
                            <a href="/addtocart/:id"><button class="shadow btn custom-btn"
                                    style="background-color: black;">Add
                                    to cart</button></a>
                        </div>


                    </div>
                    {{!-- <div class="block">
                        <a href="/checkout"><button class="shadow btn custom-btn"
                                style="width: 305px;background-color: black;">Buy now</button></a>
                    </div> --}}



                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Product Details</p>
                    <p class="description">{{products.description}}</p>

                </div>

                <div class="delivery my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in
                            3 days from date of purchase</b> </p>
                    <p class="text-secondary">Order now to get this product delivery</p>
                </div>


            </div>
        </div>

    </div>




    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script>
        function changeImage(id) {
            let pic = document.getElementById(id).src;
            document.getElementById('firstImage').src = pic;
        }

        // Add event listeners to all sub-images
        const subimages = document.querySelectorAll('.subimage');
        subImages.forEach((image) => {
            image.addEventListener('click', () => {
                changeImage(image.id);
            });
        });
    </script>
    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js"></script>
    <script>
        var options = {
            width: 500,
            height: 550,
            zoomWidth: 400,
            offset: { vertical: 0, horizontal: 10 },
            scale: 0.7
        };

        var img = document.getElementById("image-zoom");
        new ImageZoom(img, options);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>

</html>