<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/user/profle.css">


  <title>Aura Scents</title>
</head>

<body>


  <div class="bg-dark navBar">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row align-items-center">
        <!-- LOGO -->
        <div class="col-md-2">
          <div class="header-logo ">
            <a href="/" class="logo" style="text-decoration: none;">
              <h1 class="font-weight-bold " style="color: #ffff; width:20rem;">Aura Scents

              </h1>

            </a>
          </div>
        </div>
        <div class="col-md-6 text-center " style="margin-left: 8rem;">
          {{!-- <h2 class="text-white "> Profile Manager</h2> --}}
        </div>
      </div>
    </div>
  </div>



  <div class="profile-main">

    <div class="container pt-5">

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="profile-container">
            <h4>General</h4>
            <div class="profil-row">
              <b>Name : </b><span>{{addressDet.name}}</span>
            </div>
            <div class="profil-row">
              <b>Mob No : </b><span>{{addressDet.mobile}}</span>
            </div>

            <div class="profil-row">
              <button onclick="window.location.href='/edit-profile/{{users.address.address_id}}'">Edit</button>
              <a href="/logout">
                <button>Logout</button>

              </a>
            </div>
          </div>
          <div class="porfile-items">
            <a href="/cart" class="profile-item">
              <b>Cart</b>
              <i class="ri-shopping-cart-line mx-2"></i>
            </a>
          </div>
          <div class="porfile-items">
            <a href="/wishlist" class="profile-item">
              <b>Wishlist</b>
              <i class="ri-heart-line mx-2"></i>
            </a>
          </div>
          <div class="porfile-items">
            <a href="/orders" class="profile-item">
              <b>Order History</b>
              <i class="ri-shopping-bag-2-line mx-2"></i>
            </a>
          </div>
          {{!-- <div class="porfile-items">
            <a href="/coupons" class="profile-item">
              <b>Coupons</b>
              <i class="ri-coupon-2-line"></i>
            </a>
          </div> --}}
          <div class="row"></div>
        </div>
        <div class="col-12 col-md-6">

          {{#unless addAddress}}
          <div class="manage-profile-address pt-3">
            <div class="d-flex justify-content-around">
              <h4>Manage address </h4>
              {{#unless maxAddress}}
              <a href="/addAddress" class="btn btn-dark rounded-4 ">Add Address</a>
              {{/unless}}
            </div>
            {{#each addressDet.address}}
            <div class="manage-address-row">
              <div class="man-ad-left">
                <b>{{this.name}}</b>
                <b>{{this.mobile}} </b>
                <b>{{this.address}}</b>
                <b>PIN:{{this.pincode}}</b>
              </div>
              <div class="man-ad-right">
                <a href="/deleteAddress/{{this.id}}">
                  <i class="ri-delete-bin-5-line"></i>
                </a>
                
                <a href='/editAddress/{{this.id}}'><i class="ri-edit-box-line"></i></a>
              </div>
            </div>
              {{/each}}
            

            {{!-- <div class="mt-3 text-center">

              <b class="font-weight-bold"><span class="text-danger font-weight-bold "> NOTE: </span>Only 3 Address Can
                Be Added</b>
            </div> --}}

          </div>
          {{else}}
          {{!--
          ************************************************************************************************************************
          --}}
          <div class="container">
            <div class="row mx-0 justify-content-center">
              <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3 " style="width: 65%;">
               

              </div>
            </div>
          </div>

          {{/unless}}



          {{!--
          ************************************************************************************************************************
          --}}

        </div>
      </div>
    </div>
  </div>

  {{!--
  <script>
    function deleteAddress(id) {
      if (confirm("Are you sure delete this address")) {
        window.location.href = "/delete-address/" + id
      }
    }
  </script> --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</body>

</html>