



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style> 
  section{
    width: 40%;
  }
  @media (max-width: 600px) {
      section{
        width: 100%;
      }
    }</style>
<body>
   <header style="    height: 80px;">
    <div class="bg-dark navbar" style="height: 120px;">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row align-items-center">
          <!-- LOGO -->
          <div class="col-md-2">
            <div class="header-logo ">
              <a href="/" class="logo" style="text-decoration: none;">
                <h1 class="font-weight-bold " style="color: #ffff; max-width:20rem; font-size: 2rem;">Perfumio</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
   <section style=" margin-top: 1rem;
    margin: auto;">
    <div>
    <form action="/updateAddress" method="post" class=" product-add container d-flex flex-column">
    <H3 class="text-center ">Edit Address</H3>
    <input type="text" value="{{_id}}" class="form-control" name="_id" style="height:0px;visibility:hidden;" />
    <div class="form-group col-md-12">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" value="{{data.name}}" placeholder="Enter your Name" required>
    </div>
    <div class="pro-img-qua d-flex justify-content-around">
      <div class="form-group col-md-6">
        <label for="mobile">Mobile No</label>
        <input type="number" name="mobile" class="form-control" value="{{data.mobile}}" placeholder="Enter your mobile" required>
      </div>

      <div class="form-group col-md-6 ms-2">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control"  value="{{data.city}}" placeholder="Enter your city" required>
      </div>

    </div>
    <div class="pro-img-qua d-flex justify-content-around">
      <div class="form-group col-md-6">
        <label for="landmark">Landmark</label>
        <input type="text" name="landmark" class="form-control"  value="{{data.landmark}}" placeholder="Enter your landmark" required>
      </div>

      <div class="form-group col-md-6 ms-2">
        <label for="pincode">Pincode</label>
        <input type="number" name="pincode" class="form-control"  value="{{data.pincode}}" placeholder="Enter your pincode" required>
      </div>

    </div>
    <div class="form-group col-md-6">
      <label for="state">State</label>
      <input type="text" name="state" class="form-control"  value="{{data.state}}" placeholder="Enter your state" required>
    </div>
   
    <div class="form-group col-md-12">
      <label for="address">Address</label>
      <textarea class="form-control" placeholder="Address" style="height: 90px;" name="address"  value="{{data.address}}" id="floatingTextarea"
        required>{{data.address}}</textarea>
    </div>
    <button type="submit" class="btn btn-dark mt-4">Save</button>
  </form>
    </div>
  </section>
</body>
</html>